<main>
  <div class="todo-input">
    <input type="text" [(ngModel)]="newTodo" placeholder="Add New Todo" (keyup.enter)="addTodo()" class="todo-input__field">
    <button (click)="addTodo()" class="todo-input__button">Add</button>
  </div>

  <ul class="todo-list">
    <li *ngFor="let todo of todos" class="todo-item">
      <input type="checkbox" [(ngModel)]="todo.completed" (click)="toggleCompleted(todo)" class="todo-item__checkbox">
      <span [ngClass]="{'completed': todo.completed}" class="todo-item__text">{{ todo.title }}</span>
      <button (click)="editTodo(todo)" class="todo-item__edit" >Edit</button>
      <button (click)="deleteTodo(todo)" class="todo-item__delete">Delete</button>
    </li>
  </ul>
</main>